.pp-button {
	display: inline-flex;
	align-items: center;
	gap: .5rem;
	margin: 0;
}

.pp-button .pp-button-icon {
	display: inline-flex;
	align-items: center;
}

.pp-button .pp-button-label {
	display: inline-flex;
	align-items: center;
	gap: .25rem;
}

// Icon-only button styling
.pp-button-icon-only {
	aspect-ratio: 1;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

